* {
  margin: 0;
}

.bg {
  background-image: linear-gradient(
    45deg,
    hsl(0, 100%, 70%),
    hsl(240, 100%, 70%)
  );
  width: 100vw;
  height: 100vh;
  align-items: center;
}

.box {
  background-color: rgb(211, 211, 211, 0.6);
  width: 30%;
  height: 30%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 5px;
}

.heading {
  text-align: center;
  padding: 15px;
}

.text {
  text-align: center;
  padding: 15px 25px;
}
